#settingsPage {

.card {
	
	border: 1px solid #b1b2b3;
	border-radius:4px;
	padding: 14px;
	background-color: #fff;
	margin: 14px 0; 
}
.paymentM {

	text-align: center;

}
.btnEdit {
	background-color: #000;
	border-radius: 25px;
	padding: 7px 14px;
	margin: 7px 0;
	color: #fff;
	border: none;

}

}